
/rp2350_hybrid_untested/gbscsi2-backups
/rp2350_wide/gbscsi2-backups
/rp2350_SCA/gbscsi2-backups
/rp2040_hybrid_untested/gbscsi2-backups
/rp2350_HD68_3.5/gbscsi2-backups
/rp2350_SCA_2.5/gbscsi2-backups
/rp2350_SCA_3.5/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/2.5_3.5_hybrid/gbscsi2-backups
/DB25/gbscsi2-backups
/3.5/gbscsi2-backups
