
/rp2350_hybrid_untested/gbscsi2-backups
/rp2350_wide/gbscsi2-backups
/rp2350_SCA/gbscsi2-backups
/rp2040_hybrid_untested/gbscsi2-backups
/rp2350_HD68_3.5/gbscsi2-backups
/rp2350_SCA_2.5/gbscsi2-backups
/rp2350_SCA_3.5/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/2.5_3.5_hybrid/gbscsi2-backups
/DB25/gbscsi2-backups
/3.5/gbscsi2-backups
/rp2040_unmaintained_archive/rp2040_hybrid_untested/gbscsi2-backups/
/rp2040_unmaintained_archive/rp2040_hybrid_untested/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/rp2350_HD68_3.5/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/archive/3.5/gbscsi2-backups
/archive/rp2350_2.5_3.5_narrow/gbscsi2-backups
/archive/rp2350_HD68_3.5/gbscsi2-backups
/archive/rp2350_SCA_2.5/gbscsi2-backups
/archive/rp2350_SCA_3.5/gbscsi2-backups
/EDA/2.5_235x_narrow/GBSCSI2_2.5N-backups
/EDA/2.5_235x_narrow/GBSCSI2_2.5N_235x-backups
EDA/2.5_Pico_narrow/GBSCSI2_2.5N-backups/GBSCSI2_2.5N-2026-02-02_215626.zip
/EDA/2.5_Pico_narrow/GBSCSI2_2.5N-backups
/EDA/2.5_Pico_narrow/GBSCSI2_2.5N_Pico-backups
/archive/2.5_3.5_hybrid/gbscsi2-backups
/archive/rp2040_unmaintained_archive/rp2040_hybrid_untested/gbscsi2-backups
/archive/DB25/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/rp2350_2.5_3.5_narrow/gbscsi2-backups
/EDA/2.5_235x_wide_SCA_TH/GBSCSI2_2.5SCA_TH_235x-backups
