
/rp2350_hybrid_untested/gbscsi2-backups
/rp2350_wide/gbscsi2-backups
/rp2350_SCA/gbscsi2-backups
/rp2040_hybrid_untested/gbscsi2-backups
/rp2350_HD68_3.5/gbscsi2-backups
/rp2350_SCA_2.5/gbscsi2-backups
/rp2350_SCA_3.5/gbscsi2-backups
